#app {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 40% 60%;
    background-color: var(--background);

}



#main, #sidepanel {
    display: flex;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    height: 95%;
    width: 95%;
}

 #sidepanel {
    background-color: var(--secondary);
}

#main {
    background-color: var(--primary);
}


