#app {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 40% 60%;
    background-color: var(--background);
    align-self: center;
    justify-self: center;
    padding: 10px;

}



#main, #side {
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    transition: ease-in-out 50ms
}

 #side {
    margin-right: 6px;
    border: 5px solid var(--secondary);
    display: grid;
}

#main {
    margin-left: 6px;
    border: 5px solid var(--primary);
    
}

#objectRoot {
    display: grid;
    justify-content: center;
}


/*
#main:not(:hover), #side:not(:hover) {
    filter: blur(1px)
}
*/



