

body {
    margin: 0;
    overflow: clip;
    display: grid;
    grid-template-rows: 40px 1fr;
    height: 100vh;
}

body * {
    box-sizing: border-box;   
}

#bar {
    -webkit-app-region: drag;
    background: #202327;
    color: white;
    height: 40px;
    display: grid;
    grid-template-columns: 50px auto 100px;

}

#title {
    
    align-self: center;
    padding-left: 5px;
    
    height: auto;
    display: inline-block;
    font-family: 'Jetbrains mono';
    user-select: none;
    -webkid-touch-callout: none;
    -webkit-user-select: none;
    
}


#icon {
    height: 25px;

    user-select: none;
    -webkid-touch-callout: none;
    -webkit-user-select: none;
    align-self: center;
    justify-self: center;
    
}

#controls {
    -webkit-app-region: none;
    
    vertical-align: middle;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100px;
    padding-right: 100px;
    
}

#controls button {
    color: white;
    outline: 0;
    border: 0;
    background: none;
    -webkit-app-region: none;
    
}

.controlIMG {
    height: 20px;
}



#close:hover img {
    content: url("../img/windowControls/close-hover.svg");
    transform: scale(120%);
}

#close:not(:hover) img {
    content: url("../img/windowControls/close-normal.svg");
}

#close:active img {
    content: url("../img/windowControls/close-press.svg");
    transform: scale(95%);
}


#minimize:hover img {
    content: url("../img/windowControls/min-hover.svg");
    transform: scale(120%);
}

#minimize:not(:hover) img {
    content: url("../img/windowControls/min-normal.svg");
}

#minimize:active img {
    content: url("../img/windowControls/min-press.svg");
    transform: scale(95%);
}


#maximize:hover img {
    content: url("../img/windowControls/max-hover.svg");
    transform: scale(120%);
}

#maximize:not(:hover) img {
    content: url("../img/windowControls/max-normal.svg");
}

#maximize:active img {
    content: url("../img/windowControls/max-press.svg");
    transform: scale(95%);
}



